<dsv-card>
    @if (blog()?.image) {
        <dsv-file-show url="/api/" [src]="blog()?.image ?? ''" />
    }
    <dsv-card-header>
        <dsv-button class="round" icon="ri-arrow-left-s-line" color="inherit" routerLink="/blog" />
        <h1 [class.error]="!blog()?.active">{{ blog()?.title }}</h1>
        <ng-content select=".update-button"></ng-content>
    </dsv-card-header>
    <span class="subtitle">
        @if (blog()?.creationDate) {
            Le {{ blog()?.creationDate! | formatDate: true }}
        }
    </span>
    <dsv-markdown-container [data]="blog()?.description" />
</dsv-card>
