:host {
    display: flex;
    flex: 1;
    gap: 20px;

    .bento {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 20px;

        &>div {
            display: flex;
            flex-direction: column;
            min-height: 200px;

            &>a {
                margin: 10px 0;
                font-size: 1.3rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0;
                padding: 10px;
                list-style: none;

                li {
                    a {
                        display: flex;
                        gap: 15px;
                        align-items: center;

                        &>div {
                            display: flex;
                            flex-direction: column;
                            width: 90%;
                            gap: 2px;

                            span {
                                font-size: 0.9rem;
                            }

                            span:nth-child(2) {
                                font-size: 0.8rem;
                                color: var(--subtitle);
                            }

                            padding: 5px 0;
                            border-bottom: 1px solid var(--border);
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        &:hover {
                            transform: scale(1.01);
                        }
                    }
                }
            }

            @media screen and (max-width: 800px) {
                min-height: auto;
            }
        }

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;

        app-news-card-resume {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--border);
        }
    }
}