<div class="content">
    <div class="checkbox">
        <dsv-form-signal-checkbox
            [form]="readForm"
            fieldName="checked"
            [withLabel]="false"
            (callbackChange)="callback.emit(todolistItem()!)"
        />
    </div>
    <div class="name">
        @if (update()) {
            <dsv-form-signal-input
                [form]="readForm"
                fieldName="name"
                type="textarea"
                [withLabel]="false"
                (callbackSend)="doChange()"
            />
        } @else {
            {{ todolistItem()?.name }}
        }
    </div>
    <div class="actions">
        <dsv-button color="secondary" variant="text" icon="ri-edit-line" (callback)="update.set(!update())" />
        <dsv-button
            color="error"
            variant="text"
            icon="ri-delete-bin-7-line"
            (callback)="callbackDelete.emit(todolistItem()!)"
        />
    </div>
</div>
<div class="divider"></div>
