:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;

    .content {
        display: flex;
        width: 100%;
        cursor: pointer;
    }

    .checkbox {
        display: flex;
        align-items: center;

        dsv-form-signal-checkbox {
            --checkbox-width: 15px;
            --checkbox-height: 15px;
            margin: 0px !important;
            display: flex;
            align-items: center;
            width: 28px;
            height: 100%;
        }
    }

    dsv-avatar {
        margin: 0 10px 0 5px !important;
        width: 30px;
        height: 30px;
    }

    .name {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 10px;
        font-size: 1rem;

        i {
            font-size: 1.4rem;
        }
    }

    dsv-form-signal-input {
        --input-background: var(--background-card-light);
        --input-min-height: 15px;
        --input-resize: none;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    dsv-chip {
        font-weight: 500;
        font-size: 0.9rem;
        min-width: 35px;
    }

    .divider {
        margin: 0px 0px 0px 25px;
        flex-shrink: 0;
        border-width: 0px 0px thin;
        border-style: solid;
        border-color: var(--border);
    }
}