dsv-theme {
    --primary: #c2612d !important;
}

.dark dsv-theme {
    --primary: #9a4111 !important;
}

header .title-1 {
    color: var(--primary) !important;
}

.card-miniature {
    flex-wrap: wrap;
}