html,
body {
    height: 100dvh !important;
}

dsv-theme {
    --primary: #c2612d !important;
}

.dark dsv-theme {
    --primary: #9a4111 !important;
}

header .title-1 {
    color: var(--primary) !important;
}

.card-miniature {
    flex-wrap: wrap;
    flex-basis: content;
}

.markdown {
    p {
        text-align: left;
    }
}

app-root {
    height: 100vh;
    height: var(--app-height, 100dvh);
}

dsv-scroll-infinite {
    max-height: 100dvh !important;
}