<dsv-card>
    <div class="copyright">
        <h1>{{ 'LEGALES.TITLE' | translate }}</h1>
        <p>
            {{ 'LEGALES.INTRO' | translate }}
        </p>

        <h4>{{ 'LEGALES.1_TITLE' | translate }}</h4>
        <ul>
            <li>{{ 'LEGALES.1_EDITOR' | translate }} : CLEMENT</li>
            <li>{{ 'LEGALES.1_STATUT' | translate }} : Auto-entrepreneur</li>
            <li>{{ 'LEGALES.1_SIRET' | translate }} : 52089029400017</li>
            <li>{{ 'LEGALES.1_SIEGE' | translate }} : 44000 Nantes</li>
            <li>{{ 'LEGALES.1_MAIL' | translate }} : vagabond.git@gmail.com</li>
            <li>{{ 'LEGALES.1_PHONE' | translate }} : 06.76.97.40.74</li>
        </ul>

        <h4>{{ 'LEGALES.2_TITLE' | translate }}</h4>
        <div>{{ 'LEGALES.2_DESCRIPTION' | translate }}</div>

        <ul>
            <li>{{ 'LEGALES.2_HERBEGEUR' | translate }} : Synology NAS</li>
            <li>{{ 'LEGALES.2_ADRESS' | translate }} : Nantes</li>
            <li>{{ 'LEGALES.2_CONTACT' | translate }} : vagabond.git@gmail.com</li>
        </ul>

        <h4>{{ 'LEGALES.3_TITLE' | translate }}</h4>
        <p>
            {{ 'LEGALES.3_DESC' | translate }}
        </p>
        <p>
            {{ 'LEGALES.3_DESC2' | translate }}
        </p>

        <h4>{{ 'LEGALES.5_TITLE' | translate }}</h4>
        <div>
            {{ 'LEGALES.5_DESC' | translate }}
            <ul>
                <li>{{ 'LEGALES.5_LIST1' | translate }}</li>
                <li>{{ 'LEGALES.5_LIST2' | translate }}</li>
                <li>{{ 'LEGALES.5_LIST3' | translate }}</li>
            </ul>
        </div>

        <h4>{{ 'LEGALES.6_TITLE' | translate }}</h4>
        <div>
            {{ 'LEGALES.6_DESC' | translate }}
        </div>

        <h4>{{ 'LEGALES.7_TITLE' | translate }}</h4>
        <div>
            {{ 'LEGALES.7_DESC' | translate }}
            <ul>
                <li>{{ 'LEGALES.7_LIST1' | translate }}</li>
                <li>{{ 'LEGALES.7_LIST2' | translate }}</li>
                <li>{{ 'LEGALES.7_LIST3' | translate }}</li>
            </ul>
        </div>

        <h4>{{ 'LEGALES.8_TITLE' | translate }}</h4>
        <div>
            {{ 'LEGALES.8_DESC' | translate }}
        </div>
    </div>
</dsv-card>
